<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make A New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name:</label><br>
        <input type="text" name="name" id='name' placeholder="Product" required> <br>
        <label for="price">Price:</label><br>
        <input type="number" name="price" id="price" placeholder="Price" step=".01" required> <br>
        <p>Category:</p>
        <input type="radio" id="furniture" name="category" value="furniture" required>
        <label for="furniture">Furniture</label><br>
        <input type="radio" id="ebay" name="category" value="ebay">
        <label for="ebay">eBay</label><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/products/">Return</a>
</body>

</html>